<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letv.watchball.ads"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <provider
            android:name="com.letv.ads.db.AdsContentProviderForWB"
            android:authorities="com.letv.ads.db.AdsContentProviderForWB" />
        
        <activity
            android:name="com.letv.ads.view.LetvWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
    </application>

    <!-- 联网权限，联网需要 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查看WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>